@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f9f9f9;
    min-height: 100vh;
    /* overflow-x: hidden; */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 290px;
}

.navigation a {
    text-decoration: none;
    color: #0e0f0e;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    padding: 10px 20px;

}

.navigation a:hover,
.navigation a.active {
    background-color: #359381;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    z-index: 1;
    position: absolute;
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.second {
    position: relative;
    z-index: 10;
    padding: 100px;
    background: #003329;
    text-align: center;
}

.second h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.second p {
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    /* z-index: 10; */
}

